@import '../../../styles/variables.scss';

.search-user-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    &_form {
        position: relative;
        margin-right: 40px;
        width: 220px;

        &-icon {
            position: absolute;
            font-size: 22px;
            z-index: 10;
            top: 5px;
            right: 7px;
        }

        input[type=text] {
            width: 100%; 
            padding: 7px;
            border: none;
            outline: none;    
            border: 2px solid $text-color;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); 
            border-radius: 20px;
        }
    }
}